$serif-font: "Hoefler Text","Baskerville","Baskerville old face",Garamond,"Times New Roman",serif;
$sans-serif-font-1: Verdana,Arial,Helvetica,Sans-serif;
$sans-serif-font-2: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;

ad-product {
    
    > .row {
        margin-bottom: rem-calc(5);
        max-height: 150px;
    }
    
    img {
        max-height: 148px;
    }

    .desc-pane {
        color: #828282;
        @media #{$small-only} { padding: 0; };

        .display-name {
            font-family: $serif-font;
            font-size: rem-calc(18);
            font-weight: normal;
            font-style: italic;
        }

        .style-number {
            font-family: $sans-serif-font-1;
            font-size: rem-calc(11);
            font-style: italic;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .price {
            font-family: $sans-serif-font-2;
            font-size: rem-calc(18);
            color: rgb(61, 61, 61);
        }
    }

    .options-pane {
        height: 150px;
        font-size: rem-calc(14);
        font-family: $sans-serif-font-2;
        background: rgb(245, 244, 239);

        @media #{$small-only} { 
            padding: 5px; 
        };

        @media #{$medium-up} {
            padding: 1.4rem;
        }

        .action {
            color: rgb(204, 51, 102);
            cursor: pointer;
            font-family: $sans-serif-font-1;
            text-transform: uppercase;
        }
    }

    .bold {
        font-weight: bold;
    }
}
